<div class="container-fluid">
    <div class="row d-flex align-items-center">

        <div class="d-none d-md-block col-md-6" id="img-bg"></div>

        <div class="col-md-6 mt-4 mb-4">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">

                    <h1 class="text-center mb-3">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome"></label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome">
                    </div>

                    <div class="form-group">
                        <label for="usuario"></label>
                        <input class="form-control" type="usuario" name="usuario" id="usuario" placeholder="Usuário">
                    </div>

                    <div class="form-group">
                        <label for="foto"></label>
                        <input class="form-control" type="foto" name="foto" id="foto" placeholder="Link da foto">
                    </div>

                    <div class="form-group">
                        <label for="senha"></label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <label for="confirmarSenha"></label>
                        <input class="form-control" type="password" name="confirmarSenha" id="confirmarSenha"
                            placeholder="Confirmar senha">
                    </div>

                    <div class="form-group">
                        <label for="tipoUsuario"></label>
                        <select class="form-control" name="tipo" id="tipo">
                            <option>Tipo de usuário:</option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    </div>

                    <div class="mt-5 d-flex justify-content-center">
                        <button type="submit" class="btn btn-light mr-4">Cancelar</button>
                        <button type="submit" class="btn btn-outline-info ml-4">Cadastrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>