<footer class="page-footer font-small bg-info pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center text-white">
                <h5>Siga-me nas redes sociais!</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/Dafh.NN/" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a href="https://www.instagram.com/dafhnovais/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/dafhne-novais-71324a178/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                        <a href="https://github.com/DafhNovais" target="_blank">
                            <i class="fab fa-github-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-2" style="background-color: #2D7096;">
        <span class="text-light">© 2021 Copyright: Dafhne Novais</span>
    </div>

</footer>